In [1]:
import pandas as pd

In [7]:
# criando um dataframe
data = {
    "nome": ["Edison", "João"],
    "sobrenome": ["Sahd", "Silva"]
}
df_data = pd.DataFrame(data, columns=['nome', 'sobrenome'])
df_data

     nome sobrenome
0  Edison      Sahd
1    João     Silva

In [8]:
# outra forma
df_nomes = pd.DataFrame()
df_nomes['nome'] = ['Edison', 'Maria']
df_nomes['sobrenome'] = ['Sahd', 'Oliveira']
df_nomes

     nome sobrenome
0  Edison      Sahd
1   Maria  Oliveira

Dataset disponível em: https://www.kaggle.com/datasets/dansbecker/melbourne-housing-snapshot

In [3]:
df = pd.read_csv('data/melb_data.csv')

Primeiros passos

---

In [9]:
df.shape

(13580, 21)

In [4]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [12]:
df.tail(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

EDA

---

In [13]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [14]:
df['Rooms'].describe()

count    13580.000000
mean         2.937997
std          0.955748
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max         10.000000
Name: Rooms, dtype: float64

In [21]:
df['CouncilArea'].value_counts() * (100/df.shape[0]) # frequencia em %

Moreland             8.564065
Boroondara           8.541973
Moonee Valley        7.341679
Darebin              6.877761
Glen Eira            6.244477
Stonnington          5.294551
Maribyrnong          5.095729
Yarra                4.764359
Port Phillip         4.624448
Banyule              4.374080
Bayside              3.600884
Melbourne            3.460972
Hobsons Bay          3.195876
Brimbank             3.122239
Monash               2.452135
Manningham           2.290133
Whitehorse           2.238586
Kingston             1.524300
Whittlesea           1.229750
Hume                 1.207658
Wyndham              0.633284
Knox                 0.589102
Maroondah            0.589102
Melton               0.486009
Frankston            0.390280
Greater Dandenong    0.382916
Casey                0.279823
Nillumbik            0.265096
Yarra Ranges         0.132548
Cardinia             0.058910
Macedon Ranges       0.051546
Unavailable          0.007364
Moorabool            0.007364
Name: CouncilArea, dtype: float64

In [20]:
df['CouncilArea'].mode() # mais frequente

0    Moreland
dtype: object

In [22]:
df['Rooms'].mean()

2.9379970544919

In [23]:
df['Rooms'].median()

3.0

In [24]:
df['Landsize'].mean()

558.4161266568483

In [25]:
df['Landsize'].median()

440.0

In [26]:
df['Rooms'].quantile(q=0.25)

2.0

In [28]:
df['Rooms'].quantile(q=0.50)

3.0

In [29]:
df['Rooms'].quantile(q=0.75)

3.0